@{
    ViewBag.Title = "Home Page";
}

<main >
    <header class="bg-primary text-white text-center py-5 mb-4">
        <div class="container">
            <h1 class="fw-bold">Sistema de Gestión de Eventos</h1>
            <p class="lead">Organiza y gestiona tus eventos de forma eficiente con nuestra plataforma.</p>
            <a href="https://asp.net" class="btn btn-light btn-md">Aprende más &raquo;</a>
        </div>
    </header>
    <section class="row text-center mb-5">
        <h2 class="fw-bold mb-4">¿Por qué elegir nuestro sistema?</h2>
        <div class="col-md-4">
            <div class="card border-primary shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Fácil de usar</h3>
                    <p class="card-text">Nuestra plataforma está diseñada para ser intuitiva, asegurando que puedas crear y gestionar eventos sin complicaciones.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Altamente Personalizable</h3>
                    <p class="card-text">Adapta las herramientas y características de gestión según tus necesidades específicas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Soporte Técnico</h3>
                    <p class="card-text">Cuentas con un equipo de soporte siempre dispuesto a ayudarte con cualquier inconveniente.</p>
                </div>
            </div>
        </div>
    </section>
</main>
